{erl_opts, [debug_info]}.
{deps, [
  {ace, {elixir, "ace", "0.16.4"}},
  {raxx, {elixir, "raxx", "0.15.4"}},
  {hpack, "0.2.3", {pkg, hpack_erl}},
  {cookie, {elixir, "cookie", "0.1.0"}}
]}.

{plugins, [
    { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]}
]}.

{elixir_opts,
  [
    {env, dev}
  ]
}.

{shell, [{apps, [greetings]}]}.
